main{
    display: flex;
    justify-content: center;
    background-color: wheat;
}

.decorated-section::before {
    content: "Début de la section";
    display: block;
    font-style: italic;
    color: var(--primary);
}

.decorated-section::after {
    content: "Fin de la section";
    display: block;
    font-style: italic;
    color: var(--primary);
}


@media (max-width: 700px) {
    main{
        background-color: chocolate;
    }

    .decorated-section::after {
        color: var(--secondary);
    }

    .decorated-section::before {
        color: var(--secondary);
    }
}